services:
  mysql:
    image: mysql:8.4.7
    container_name: mysql
    restart: unless-stopped
    volumes:
      - mysql_data:/var/lib/mysql
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    networks:
      - mysql_network

  phpmyadmin:
    image: phpmyadmin:5.2.3-apache
    container_name: phpmyadmin
    restart: unless-stopped
    depends_on:
      - mysql
    ports:
      - 8082:80
    env_file:
      - .env
    networks:
      - mysql_network
    labels:
      - homepage.group=Database
      - homepage.name=PHP My Admin
      - homepage.icon=phpmyadmin.png
      - homepage.href=http://192.168.100.14:8082

volumes:
  mysql_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${MYSQL_DATA}

networks:
  mysql_network:
    driver: bridge
